[submodule "third_party/nugget"]
	path = third_party/nugget
	url = https://github.com/pcsx-redux/nugget/
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/CLI11"]
	path = third_party/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype
