# TODO: remove when PCSX-redux gets ability to not create its configs in runtime dir
memcard1.mcd
memcard2.mcd
offscreen.frag
offscreen.lua
offscreen.vert
output.frag
output.lua
output.vert
output.json
offscreen.json
pcsx.json

build/
build_games/
build_games_debug/
.cache/

.gdb_history

# Blender backup files
*.blend1

LICENSEE.DAT
LICENSEJ.DAT

